body{  
    box-sizing: border-box;  
    margin: 0 auto;  
    font-size: 22px;  
}  
ul{  
    list-style: none;  
}  
a{  
    text-decoration: none;  
}  
.container{  
    width: 1200px;  
    margin: 0 auto;  
    padding: 0 15px;  
}  
  
  
header{  
    background-color: rgb(127, 133, 131);  
    border: 1px solid;     
}  
.header-container{  
    display: flex;  
    justify-content: space-between;  
}  
.tellman {  
    color: rgb(0, 0, 0);  
    font-size: 30px;  
    font-weight: 700;  
    cursor: pointer;  
    display: flex;  
    align-items: center;  
}  
.tellman:hover,  
.tellman:focus{  
    color: white;  
}  
.ms-container{  
    display: flex;  
    justify-content: center;  
    padding-top: 100px;  
}  
.maysend {  
    list-style: none;  
    display: flex;  
    justify-content: space-evenly;  
    align-items: center;  
    padding: 10px;  
    width: 700px;  
     
    
}  
.tellimg{  
    margin-right: 50px;  
}  
.tella{  
    color: #000000;  
    font-size: 24px;  
    font-weight: 700;   
    margin-right: 10px;  
    margin-left: 10px;  
 
}  
.tella:hover,  
.tella:focus {  
    color: #000000;  
}  
  
.tellmanynm {  
    display: flex;  
    justify-content: space-between;  
} 
     
    /* .maysm{ 
        display: flex; 
        flex-wrap: wrap; 
    } */ 
    .tay{ 
        font-size: 21px;  
    font-weight: 700;  
    } 
    .tellm{ 
        list-style: none;  
        display: flex;  
        justify-content: space-evenly;  
        align-items: center;  
        padding: 10px;  
        width: 700px;  
         
    } 
.work-container{ 
    padding-top: 50px; 
    padding-bottom: 50px; 
} 
.work-card{ 
    padding: 30px; 
    width: 1200px; 
    text-align: center; 
    margin-bottom: 50px; 
    border: 5px solid gray; 
    border-radius: 20px; 
} 
.work-img{ 
    width: 100%; 
} 
 
 
/* Відгуки */ 
.reviews-container{ 
    padding-top: 50px; 
    padding-bottom: 50px; 
} 
/* .reviews-list{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}  */
.reviews-item{ 
    width: 500pxpx; 
    padding: 30px; 
    border: 3px solid gray; 
    border-radius: 20px; 
    margin-bottom: 20px; 
    background-color: beige; 
} 
.reviews-img{ 
    width: 100%; 
} 
 
/* Contacts */ 
.contacts-container{ 
    padding-top: 50px; 
    padding-bottom: 50px; 
} 
.contacts-img{ 
    width: 1200px; 
    display: flex; 
    justify-content: center; 
} 
 
.footer{ 
    padding-top: 20px; 
    padding-bottom: 20px; 
    background-color: rgb(127, 133, 131); 
}
.sayl{
    font-size: 35px;
    font-weight: 700;
}
.btn{
    color: #ffffff;
    background-color: rgb(39, 46, 46);
    font-size: 20px;
    font-weight: 900;
    padding: 12px 30px;
    display: flex;
   margin-left: 455px;
}
.btn:hover,
.btn:focus{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
   
}
